<ul class="list-unstyled text-muted">
    <li><a href="{{ path('app_right_cgu') }}">Conditions générales d'utilisation</a></li>
    <li><a href="{{ path('app_right_policy') }}">Politique des confidentialité</a></li>
    <li><a href="{{ path('app_right_legal_mention') }}">Mentions légales</a></li>
    <li><a href="{{ path('app_right_handle_data_personal') }}">Gestion de vos données personnelles</a></li>
    <li><a href="{{ path('app_right_trust_chart') }}">Charte de confiance</a></li>
</ul>
