{% extends 'layout.html.twig' %}

{% block title %} Chatter en priver avec vos matchs, partager vos centres d'intérêts - {{ parent() }}{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta name="description"
          content="Chat priver, chatter avec vos différents matchs, partager vos centres d'intérêts et trouver l'âme soeurs!">
{% endblock %}

{% set breadcrumbItems =
    {
        'Chat': ''
    }
%}

{% block content %}
    <section id="features" class="chat-private-2">
        <div class="container px-5">
            <div class="row">
                <div class="col-lg-12 my-4 mb-lg-0">
                    {{ include('partials/_breadcrumbs.html.twig') }}
                    <div class="row">
                        <div class="col-md-4 col-xl-3 chat">
                            <div class="card shadow mb-sm-3 mb-md-0 contacts_card">
                                <div class="card-body contacts_body">
                                    <ul class="contacts">
                                        {% for friend in user.myUsers %}
                                            <li class="friendLists connected_{{ friend.token }}" data-dis=""
                                                id="{{ friend.discussions[0].token }}">
                                                <div class="d-flex bd-highlight rounded" style="background-color:{{ friend.genre == 1 ? '#3AB0EB' : (friend.genre == 2 ? '#3AB0EB' : (friend.genre == 3 ? '#3AB0EB' : '')) }}">
                                                    <div class="img_cont">
                                                            <img src="{{ friend.principalPicture is not empty ? asset('/uploads/profile_picture/' ~ friend.principalPicture)|imagine_filter('miniature') : 'https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg' }}"
                                                                 alt="Photo profile {{ friend.lastname ~ ' ' ~ friend.firstname }}"
                                                                 id="avatar-{{ friend.token }}"
                                                                 title="{{ friend.lastname ~ ' ' ~ friend.firstname }}"
                                                                 class="rounded-circle user_img img-fluid">
{#                                                        <span class="online_icon"></span>#}
                                                    </div>
                                                    <div class="user_info">
                                                        <span style="">{{ friend.firstname }}</span>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-xl-9 chat">
                            <div class="card shadow">
                                <div class="card-header msg_head">
                                    <div class="d-flex bd-highlight d-none" id="interlocteur">
                                        <div class="img_cont">
                                            <a id="interlProfile" href="">
                                                <img id="interlAvatar"
                                                     src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                                     class="rounded-circle user_img img-fluid">
                                            </a>
{#                                            <span class="online_icon"></span>#}
                                        </div>
                                    </div>
                                    <span id="action_menu_btn" class="d-none"><i class="bi bi-three-dots-vertical"></i></span>
                                    <div class="action_menu" style="background-color: white !important;">
                                        <ul>
                                            <li>
                                                <i class="bi bi-person-x-fill text-danger"></i>
                                                <a class="open-front-modal text-danger" href=""
                                                   title="Signaler"
                                                   data-modal-title="Signaler le compte" id="signal-user">
                                                    Signaler
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body msg_card_body" id="receiver"></div>
                                <div class="card-footer">
                                    <form class="col-lg-12" id="FormMessenger" method="post" data-turbo="false">
                                        <input type="hidden" id="receiverId" value=""/>
                                        <input type="hidden" id="groupeId" value=""/>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <label for="chat-file" style="height: 100%">
                                                    <span class="input-group-text attach_btn">
                                                        <i class="bi bi-image"></i>
                                                    </span>
                                                </label>
                                                <input disabled="disabled" multiple="multiple" type="file" data-commun-target="chatFile" data-action="commun#previewChatFile" id="chat-file" name="chat-file" style="display: none">
                                            </div>
                                            <textarea name="message" id="message" class="form-control type_msg"
                                                      placeholder="Parlez de vos points communs..." style="resize:none"></textarea>
                                            <span class="input-group-append">
                                                <button class="input-group-text send_btn btn btn-primary" id="button-addon2" type="submit">
                                                    <i class="bi-send"></i>
                                                </button></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
