{% extends 'layout.html.twig' %}

{% block title %} Confirmation de paiement accepté |  {{ parent() }}{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta name="description"
          content="Confirmation de paiement et d'inscription à Spami !">
{% endblock %}
{% set abo = getAbonnements(type) %}
{% set breadcrumbItems =
    {
        'Abonnements' : path('app_pricing'),
        ('Souscription : ' ~ abo['name']) : ''
    } %}

{% block content %}
    <style>
        .product {
            display: flex;
        }

        .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .CheckoutDemo--button {
            height: 36px;
            /*background: #556cd6;*/
            border-radius: 0 0 4px 4px;
            color: white;
            border: 0;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.2s ease;
            box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
        }

        .CheckoutDemo--button:hover {
            opacity: 0.8;
        }
    </style>
    <section id="features">
        <div class="container px-5 mt-4">
            {{ include('partials/_breadcrumbs.html.twig') }}
            <div class="row gx-5 align-items-center">
                <div class="col-lg-12 mb-5 mb-lg-0">
                    <div class="CheckoutDemo Box-root Flex-flex Flex-alignItems--center" style="min-height: 170px;">
                        <div class="product Box-root"><img
                                    src="https://b.stripecdn.com/docs-statics-srv/assets/e9d184fcb37d32f21df2171a070f5fbc.png"
                                    alt="The cover of Stubborn Attachments">
                            <div class="description Box-root">
                                <h3>{{ abo['name'] }}</h3>
                                <h5>{{ abo['price'] }}&nbsp;€</h5>
                                <p>
                                    Vos avantages :
                                    <ul>
                                        {% for key, advantage in abo['advangate'] %}
                                            <li>{{ key }} : {{ advantage }}</li>
                                        {% endfor %}
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <form action="{{ path('app_stripe_checkout_session', {'type': type, 'token':token}) }}"
                             data-turbo="false" method="POST">
                            <button type="submit" id="checkout-button" class="CheckoutDemo--button btn-success w-100">
                                Procédez au paiement
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


