{% block subject %}SPAMI – Changement d'abonnement{% endblock %}

{% block body_html %}
    {% embed 'emails/_layout.html.twig' %}
        {% block title %}Changement d'abonnement{% endblock %}
        {% block accroche %}Changement d'abonnement{% endblock %}
        {% block body %}
            <tr>
                <td style="padding-top:20px;">
                    <p>
                        <h1>Bonjour,</h1>
                    </p>
                    <p>
                        {{ user.lastname ~ ' ' ~ user.firstname }}, vous avez changé d'abonnement.
                    </p>
                    <p>
                        Voici un récapitulatif :<br>
                        {% if user.stripePlan is same as ("Spami") %}
                            {{ include('emails/_subcription_spami.html.twig') }}
                        {% elseif user.stripePlan is same as ("Spammeur") %}
                            {{ include('emails/_subcription_spammeur.html.twig') }}
                        {% elseif user.stripePlan is same as ("Spamlover") %}
                            {{ include('emails/_subcription_spam_lover.html.twig') }}
                        {% else %}
                            {{ include('emails/_subcription_canceled.html.twig') }}
                        {% endif %}
                    </p>
                    <p>
                        Pour rappel, vous pouvez gérer votre abonnement directement depuis le site SPAMI.
                    </p>
                    <p>
                        Cordialement,<br/>
                        L'équipe SPAMI<br/>
                        <a title="Site Spami" href="{{ app.request.schemeAndHttpHost }}">{{ app.request.schemeAndHttpHost }}</a>
                    </p>
                    <p style="color: #8698A5; font-size: 15px;">Ce message est généré automatiquement, merci de ne pas y répondre directement.</p>
                </td>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body_text %}
    Bonjour,\n
    \n
    {{ user.lastname ~ ' ' ~ user.firstname }}\n
    \n
    Nous venez de changer d'abonnement :\n
    \n
    {% if user.stripePlan is same as ("Spami") %}
        {{ include('emails/_abonnement_spami.txt.twig') }}
    {% elseif user.stripePlan is same as ("Spammeur") %}
        {{ include('emails/_abonnement_spammeur.txt.twig') }}
    {% elseif user.stripePlan is same as ("Spamlover") %}
        {{ include('emails/_abonnement_spam_lover.txt.twig') }}
    {% endif %}
    \n
    Pour rappel, vous pouvez gérer votre abonnement directement depuis le site SPAMI.\n
    \n
    Cordialement,\n
    L'équipe SPAMI\n
    {{ app.request.schemeAndHttpHost }}\n
    \n
    Ce message est généré automatiquement, merci de ne pas y répondre directement.\n
{% endblock %}
