<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}InTerest{% endblock %}</title>

{#        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">#}
        <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}" sizes="75x75"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#2d89ef">
        <meta name="theme-color" content="#ffffff">
        <meta name="turbo-cache-control" content="no-cache">
        {% block metas %}
            <meta name="keywords" content="site de rencontres,site de rencontre mobile,rencontre à proximité,rencontres à paris,rencontres par centre d'intêrets,centre d'intêrets paris,site de rencontre gratuit,sortir à paris,célibataires à paris,rencontres sympas paris,rencontre activités à paris">
{#            <meta name="turbo-visit-control" content="reload">#}
        {% endblock %}
        {% block stylesheets %}
            <!-- Google fonts-->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
            <link rel="preconnect" href="https://fonts.gstatic.com"/>
            <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ app.request.schemeAndHttpHost }}:1337/socket.io/socket.io.js"></script>
            <script type="text/javascript">
	            var googleGtm = '{{ googleGtm }}';
	            var googleTagUa = '{{ googleTagUa }}';
		        var dataLayer = [];
				var isLogged = false;
				var policyUrl = '{{ absolute_url(path('app_right_policy')) }}';
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    var userId = '{{ app.user.token }}';
                    var lastname = '{{ app.user.lastname }}';
                    var firstname = '{{ app.user.firstname }}';
                    var email = '{{ app.user.email }}';
                        dataLayer = [{
                            'user_id': '{{ app.user.id }}',
                            'lastname': '{{ app.user.lastname }}',
                            'firstname': '{{ app.user.firstname }}',
                            'email': '{{ app.user.email }}',
                        }];
	                isLogged = true;
                {% endif %}
            </script>
            {{ encore_entry_script_tags('app') }}
            {% for file in encore_entry_js_files('app') %}
                <script src="{{ asset(file) }}"></script>
            {% endfor %}
            <script type="text/javascript" src="{{ asset('build/tarteaucitron/tarteaucitron.js') }}"></script>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% for file in encore_entry_js_files('app_client') %}
                    <script src="{{ asset(file) }}"></script>
                {% endfor %}
            {% endif %}
        {% endblock %}
    </head>
    <body id="page-top" {% if app.user %}{{ stimulus_controller('commun') }}{% endif %} data-turbo-cache="false" {{ stimulus_controller('alert') }}>
        {% block body %}{% endblock %}

        <div class="scroll-to-top d-none" {{ stimulus_controller('top') }} >
            <button title="Remonter en haut de la page" type="button" data-top-target="top" class="btn-scroll-top">
                <span class="arrow"><span></span><span></span></span>
            </button>
        </div>
    </body>
</html>
